body, html{
margin:0;
width:100%;
}

#container{
    margin:auto;
    width:800px;
    background:#aaa;
    padding:20px;
}

.box{
    width:700px;
    border:1px solid black;
    background:#ccc;
    margin:20px auto;
    padding:20px;
}

h1{
    font-size:20px;
    margin-top:0 auto;
}

.box h2{
    font-size:18px;
}

.box code{
    display:block;
    font-size:16px;
    white-space:pre;
}

.box div{
    width:700px;
    height:300px;
    margin:20px 0 0;
    border:1px solid black;
    background:url(grid.png) #fff;
    border-radius:10px;
}